{% extends 'base.html' %}

{% block title %}Guest Book{% endblock %}
{% block content %}
    <div class="container">
        {% for task in task %}

            <div class="card">
                <h5 class="card-header">{{ task.title }}
                    <a href="{% url 'task_update' task.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'task_delete' task.pk %}"><i class="bi bi-trash3"></i></a>
                </h5>

                <div class="card-body">
                    <p class="card-title">{{ task.date }}</p>
                    <p class="card-title">Type:{{ task.type }}</p>
                    <p class="card-title">Status: {{ task.status }}</p>
                 <a href="{% url 'task_detail' task.pk %}">Task Detail</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}